@font-face {
  src: url('../fonts/NunitoSans-Regular.ttf');
  font-family: "NunitoSans Regular";
}

@font-face {
  src: url('../fonts/NunitoSans-Italic.ttf');
  font-family: "NunitoSans-Italic";
}

@font-face {
  src: url('../fonts/YesevaOne-Regular.ttf');
  font-family: "YesevaOne-Regular";
}

body {
  margin: 0;
  font-family: "NunitoSans Regular", Arial, Helvetica, sans-serif;
  text-decoration: none;
}

body * {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.header {
  background-color: black;
}

.logo {
  color: #E3B873;
}

.tel {
  color: #E3B873;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.container-header-content {
  display: flex;
  justify-content: space-between;
  height: 83px;
  align-items: center;
}

.button {
background: #E3B873;
box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
border-radius: 2px;
outline: 0;
border: 0;
padding: 13px 33px;
color: white;
font-family: "NunitoSans-Italic", Arial, Helvetica, sans-serif;
font-size: 11px;
text-transform: uppercase;
cursor: pointer;
}

.header-navigation {
  list-style: none;
  display: flex;
}

.header-navigation-item {
  margin-right: 47px;
}

.header-navigation-item a {
  text-decoration: none;
  color: white;
}

.header-navigation-item a:hover {
  color: #E3B873;
}

.hero {
  background-image:  linear-gradient(rgba(0,0,0,0.7),
  rgba(0,0,0,0.7)), url(/Images/image_header.jpg);
  background-size: cover;
  height: 707px;
  position: relative;
}

.title {
  margin: 0;
  font-family: "YesevaOne-Regular";
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  padding-top: 194px;
}

.hero-text {
  color: #E3B873;
}

.text {
  font-family: "NunitoSans Regular", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  color: #FFFFFF;
}

.button-one {
  padding: 19px 42px 20px 41px;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  height: 51px;
  width: 207px;
}

.button-two {
  height: 51px;
  width: 207px;
  background: none;
  border-color: white;
  border-style: solid;
  border-width: 1px;
}