@font-face {
  src: url('../fonts/NunitoSans-Regular.ttf');
  font-family: "NunitoSans Regular";
}

@font-face {
  src: url('../fonts/NunitoSans-Italic.ttf');
  font-family: "NunitoSans-Italic";
}

@font-face {
  src: url('../fonts/YesevaOne-Regular.ttf');
  font-family: "YesevaOne-Regular";
}

body {
  margin: 0;
  font-family: "NunitoSans Regular", Arial, Helvetica, sans-serif;
  text-decoration: none;
}

body * {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.header {
  background-color: black;
}

.logo {
  color: #E3B873;
}

.tel {
  color: #E3B873;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.container-header-content {
  display: flex;
  justify-content: space-between;
  height: 83px;
  align-items: center;
}

.button {
background: #E3B873;
box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
border-radius: 2px;
outline: 0;
border: 0;
padding: 13px 33px;
color: white;
font-family: "NunitoSans-Italic", Arial, Helvetica, sans-serif;
font-size: 11px;
text-transform: uppercase;
cursor: pointer;
}

.header-navigation {
  list-style: none;
  display: flex;
}

.header-navigation-item {
  margin-right: 47px;
}

.header-navigation-item a {
  text-decoration: none;
  color: white;
}

.header-navigation-item a:hover {
  color: #E3B873;
}

.hero {
  background-image:  linear-gradient(rgba(0,0,0,0.7),
  rgba(0,0,0,0.7)), url(../Images/image_header.jpg);
  background-size: cover;
  height: 707px;
  position: relative;
}

.title {
  margin: 0;
  font-family: "YesevaOne-Regular";
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  padding-top: 194px;
}

.hero-text {
  color: #E3B873;
}

.text {
  font-family: "NunitoSans Regular", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  color: #FFFFFF;
}

.button-one {
  padding: 20px 2px;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  height: 51px;
  width: 207px;
}

.button-two {
  padding: 20px 2px;
  height: 51px;
  width: 207px;
  background: none;
  border-color: white;
  border-style: solid;
  border-width: 1px;
}
.contener-project{
  background: #131313;
}
.nav-project{
  display: flex;
  position: relative;
  top: 107px;
  right: 190,55px;
  bottom: 943px;
  left: 1000px
}
.text-nav-pr{
font-family: Yeseva One;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
text-transform: uppercase;
color: #E3B873;
}
.foto-room{
  display: block;
  position: relative;
  top: 176px;
  left: 1000px;
  bottom: 416px;
}
.inf-project{
  position: relative;
  bottom: 517px;
  right: 750px;
}
.title-project{
font-family: Yeseva One;
font-style: normal;
font-weight: normal;
font-size: 27px;
line-height: 37px;
letter-spacing: -0.07em;
text-transform: uppercase;
color: #E3B873;
}
.text-project{
  Width: 442px;
Height: 86px;
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 27px;
color: #FFFFFF;
}
.heading {
  font-family: "YesevaOne-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #E3B873;
}
.infomation {
  font-family: "NunitoSans-Italic", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: #FFFFFF;
  padding-bottom: 416px;
}
.scroll {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 17px;
}
.info-top {
position: relative;
top: auto;
bottom: 500px;
right: 750px;
margin: 34px ;
}
.info-top-r{
  position: relative;
  top: auto;
  bottom: 600px;
  right: 400px;
  margin: 34px;
}